#navbar {
    font-weight: 600;
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
            
        }
    }


    .is-active {
        font-weight: 600;
    }

    .navbar-dropdown {
        border: none;
        right: 0;
        left: auto;
    }

    .navbar-item {
        font-weight: 600;
        padding: 0.5rem 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.25);
            color: #822433;
            border: 1px solid #822433;
        }
    }

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: #822433 !important;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.25) !important;
            color: grey;
        }
    }

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}
}