#projects {
    margin-top: 110px;

    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
        margin-bottom: 30px;
    }
    .img-wrap {
        img {
            margin-top: 30px;
            margin-bottom: 40px;
        }
        }

    ol.project-list{
        margin-top: 50px;
        list-style-type: none;
        li {
            font-size: .05rem;
            margin-bottom: 0.5rem;
            .title {
                font-weight: bolder;
                font-style: normal;
                font-size: 13px;
                margin-bottom: 0.5rem;
            }
            .event {
            }
            .date {
                font-style: normal;
                margin-left: 0.5rem;
            }
            a.btn{
                color: $theme-dark;
                text-decoration: underline;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                font-size: 15px;
                &:hover {
                    color: $theme-color;
                }
            }
            p {
                line-height: 1.4em;
                font-size: 15px;
            }
        }
    }
}