#projects {
    margin-top: 110px;

    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
        margin-bottom: 30px;
    }
    .img-wrap {
        img {
            margin-top: 30px;
            margin-bottom: 40px;
        }
        }

    ol.project-list{
        margin-top: 70px;
        list-style-type: none;
        li {
            font-size: 1.05rem;
            margin-bottom: 1.5rem;
            .title {
                font-weight: bolder;
                font-style: normal;
                font-size: 22px;
            }
            .event {
            }
            .date {
                font-style: normal;
                margin-left: 0.5rem;
            }
        }
    }
}