---
layout: page
---
<div id="aboutlatentroles">
    <section class="bg"></section>
    <h1 class="title">{{ page.title }}</h1>
    <div class="wrapper">
    </div>

    <div align="center">
        <h1>About latent roles in forecasting players in team sports</h1>
        <h2>ICLR '23 Workshop on Agent-Based Modelling (AI4ABM)</h2>
        <h3> <i>Luca Scofano, Alessio Sampieri, Giuseppe Re, Matteo Almanza, Alessandro Panconesi, and Fabio Galasso</i>
        </h3>
        <h4> <i>Sapienza University of Rome, Italy</i></h4>
    </div>

    <hr>
    <p align="center"><button type="button" class="btn btn-primary"><a href="#abstract">Abstract</a></button>
        <button type="button" class="btn btn-primary"><a href="https://arxiv.org/abs/2304.08272">Paper</a></button>
        <!-- <button type="button" class="btn btn-primary"><a href="#poster-and-slides">Poster and Slides</a></button> -->
        <!-- <button type="button" class="btn btn-primary"><a href="#talk">Talk</a></button> -->
        <!-- <button type="button" class="btn btn-primary"><a href="#qualitative">More Qualitative Results</a></button> -->
        <button type="button" class="btn btn-primary"><a
                href="https://github.com/L-Scofano/AboutLatentRoles">Code</a></button>
    </p>

    <hr>
    <p align="center">
        <img src="\assets\img\projects\nba\teaser.png" width="700" height="600" alt="centered image" />
    </p>

    <hr>
    <h1 id="abstract">Abstract</h1>
    Forecasting players in sports has grown in popularity due to the potential for a tactical advantage and the
    applicability of such research to multi-agent interaction systems. Team sports contain a significant social
    component that influences interactions between teammates and opponents. However, it still needs to be fully
    exploited. In this work, we hypothesize that each participant has a specific function in each action and that
    role-based interaction is critical for predicting players’ future moves. We create RolFor, a novel end-to-end model
    for Role-based Forecasting. RolFor uses a new module we developed called Ordering Neural Networks (OrderNN) to
    permute the order of the players such that each player is assigned to a latent role. The latent role is then modeled
    with a RoleGCN. Thanks to its graph representation, it provides a fully learnable adjacency matrix that captures the
    relationships between roles and is subsequently used to forecast the players’ future trajectories. Extensive
    experiments on a challenging NBA basketball dataset back up the importance of roles and justify our goal of modeling
    them using optimizable models. When an oracle provides roles, the proposed RolFor compares favorably to the current
    state-of-the-art (it ranks first in terms of ADE and second in terms of FDE errors). However, training the
    end-to-end RolFor incurs the issues of differentiability of permutation methods, which we experimentally review.
    Finally, this work restates differentiable ranking as a difficult open problem and its great potential in
    conjunction with graph-based interaction models.


    <!-- <h1 id="poster-and-slides">Poster and Slides</h1>
        <p align="center">
            <img src="/images/7726_Poster_page-0001.jpg" alt="centered image" />
        </p>-->



</div>