---
layout: page
---
<div id="hypad">
    <section class="bg"></section>
    <h1 class="title">{{ page.title }}</h1>
    <div class="wrapper">
    </div>

    <div align="center">
        <h1>Are we certain it's anomalous?</h1>
        <h4>Spotlight Paper at CVPR 2023 Visual Anomaly and Novelty Detection (VAND) Workshop</h4>
        <h5 style="color:grey"> <i>Alessandro Flaborea, Bardh Prenkaj, Bharti Munjal, Marco Aurelio Sterpa, Dario Aragona, Luca Podo and Fabio Galasso</i></h5>
         <h5 style="color:grey"> <i>Sapienza University of Rome, Italy&ensp;&ensp;&ensp;&ensp;Technical University of Munich, Germany</i></h5>
        </div>
        
        <hr>
        <p align="center"><button type="button" class="btn btn-primary"><a href="#abstract">Abstract</a></button>
        <button type="button" class="btn btn-primary"><a href="https://sites.google.com/view/vand-cvpr23/">VAND Workshop</a></button>
        <button type="button" class="btn btn-primary"><a href="https://openaccess.thecvf.com/content/CVPR2023W/VAND/html/Flaborea_Are_We_Certain_Its_Anomalous_CVPRW_2023_paper.html">Paper</a></button>
        <!-- <button type="button" class="btn btn-primary"><a href="#poster-and-slides">Poster and Slides</a></button> -->
        <!-- <button type="button" class="btn btn-primary"><a href="#talk">Talk</a></button> -->
        <button type="button" class="btn btn-primary"><a href="https://github.com/aleflabo/HypAD">Code</a></button></p>

        <hr>
        <p align="center">
            <img src="\assets\img\projects\hypad\teaser_hypad.png" width="700" height="600" alt="centered image" />
        </p>
        
        <hr>
        <h1 id="abstract">Abstract</h1>
        <p>The progress in modelling time series and, more generally, sequences of structured data has recently revamped research in anomaly detection. 
            The task stands for identifying abnormal behaviors in financial series, IT systems, aerospace measurements, and the medical domain, 
            where anomaly detection may aid in isolating cases of depression and attend the elderly. Anomaly detection in time series is a complex task 
            since anomalies are rare due to highly non-linear temporal correlations and since the definition of anomalous is sometimes subjective. </p>
        <p>Here we propose the novel use of Hyperbolic uncertainty for Anomaly Detection (HypAD). HypAD learns self-supervisedly to reconstruct the input signal. 
            We adopt best practices from the state-of-the-art to encode the sequence by an LSTM, jointly learned with a decoder to reconstruct the signal, with the aid of GAN critics. 
            Uncertainty is estimated end-to-end by means of a hyperbolic neural network. By using uncertainty, HypAD may assess whether it is certain about the input signal but it fails to reconstruct 
            it because this is anomalous; or whether the reconstruction error does not necessarily imply anomaly, as the model is uncertain, e.g. a complex but regular input signal. 
            The novel key idea is that a detectable anomaly is one where the model is certain but it predicts wrongly. </p>
        <p>HypAD outperforms the current state-of-the-art for univariate anomaly detection on established benchmarks based on data from NASA, Yahoo, Numenta, Amazon, and Twitter. 
            It also yields state-of-the-art performance on a multivariate dataset of anomaly activities in elderly home residences, and it outperforms the baseline on SWaT. 
            Overall, HypAD yields the lowest false alarms at the best performance rate, thanks to successfully identifying detectable anomalies.
            </p>


        


</div>