---
layout: page
---
<div id="multibody">
    <section class="bg"></section>
    <h1 class="title">{{ page.title }}</h1>
    <div class="wrapper">
    </div>

    <div align="center">
        <!-- <h1>Space-Time-Separable Graph Convolutional Network for Pose Forecasting - ICCV&#39;21</h1> -->
        <h3> <i>Theodoros Sofianos†, Alessio Sampieri†, Luca Franco and Fabio Galasso</i></h3>
         <h4> <i>Sapienza University of Rome, Italy</i></h4>
        </div>
        
        <hr>
        <p align="center"><button type="button" class="btn btn-primary"><a href="#abstract">Abstract</a></button>
        <button type="button" class="btn btn-primary"><a href="#paper">Paper</a></button>
        <button type="button" class="btn btn-primary"><a href="#poster-and-slides">Poster and Slides</a></button>
        <button type="button" class="btn btn-primary"><a href="#talk">Talk</a></button>
        <button type="button" class="btn btn-primary"><a href="#qualitative">More Qualitative Results</a></button>
        <button type="button" class="btn btn-primary"><a href="https://github.com/FraLuca/STSGCN">Code</a></button></p>

        <hr>
        <p align="center">
            <img src="/images/pipeline-cameraready-1.png" width="600" alt="centered image" />
        </p>
        
        <hr>
        <h1 id="abstract">Abstract</h1>
        <p>Human pose forecasting is a complex structured-data sequence-modelling task, which has received increasing attention, also due to numerous potential applications. Research has mainly addressed the temporal dimension as time series and the interaction of human body joints with a kinematic tree or by a graph. This has decoupled the two aspects and leveraged progress from the relevant fields, but it has also limited the understanding of the complex structural joint spatio-temporal dynamics of the human pose.</p>
        <p>Here we propose a novel Space-Time-Separable Graph Convolutional Network (STS-GCN) for pose forecasting. For the first time, STS-GCN models the human pose dynamics only with a graph convolutional network (GCN), including the temporal evolution and the spatial joint interaction within a single-graph framework, which allows the cross-talk of motion and spatial correlations. Concurrently, STS-GCN is the first space-time-separable GCN: the space-time graph connectivity is factored into space and time affinity matrices, which bottlenecks the space-time cross-talk, while enabling full joint-joint and time-time correlations. Both affinity matrices are learnt end-to-end, which results in connections substantially deviating from the standard kinematic tree and the linear-time time series.</p>
        <p>In experimental evaluation on three complex, recent and large-scale benchmarks, Human3.6M [Ionescu et al. TPAMI&#39;14], AMASS [Mahmood et al. ICCV&#39;19] and 3DPW [Von Marcard et al. ECCV&#39;18], STS-GCN outperforms the state-of-the-art, surpassing the current best technique [Mao et al. ECCV&#39;20] by over 32% in average in the most difficult long-term predictions, while only requiring 1.7% of its parameters. We explain the results qualitatively and illustrate the graph attention by the factored joint-joint and time-time learnt graph connections.</p>

        <h1 id="poster-and-slides">Poster and Slides</h1>
        <p align="center">
            <img src="/images/7726_Poster_page-0001.jpg" alt="centered image" />
        </p>
        

        <hr>
        <h1 id="qualitative">More Qualitative Results</h1>

        <iframe src="https://onedrive.live.com/embed?cid=810E56D3DA77514F&amp;resid=810E56D3DA77514F%213969&amp;authkey=APH1cxBycnfMUs0&amp;em=2&amp;wdAr=1.7777777777777777" width="610px" height="367px" frameborder="0">Documento di <a target="_blank" href="https://office.com">Microsoft Office</a> incorporato, con tecnologia <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
        
        
        
        
        <hr>
        

</div>