---
layout: page
---

<div id="blog">
    <!-- Responsive Header -->
    <section id="header-content">
      <h1>{{ page.title }}</h1>
    </section>
    <section class="bg"></section>
    <ul>
    <li>
      <img src="image1.jpg" alt="Person 1">
      <h3>Person 1</h3>
      <a href="link1.html">Link 1</a>
      <a href="link2.html">Link 2</a>
    </li>
    <li>
      <img src="image2.jpg" alt="Person 2">
      <h3>Person 2</h3>
      <a href="link3.html">Link 3</a>
      <a href="link4.html">Link 4</a>
    </li>
  </ul>
</div>